<footer>
    <div class="container-fluid footerDiv">
        <div>
            <h3>Pizza Virgil</h3>
            <p>&#169 copyright by Costea Virgiliu - Irinel 2021</p>
            <p>0712345678</p>
        </div>

        <div>
            <a id="button" class="btn btn-primary" href="meniu.php" role="button">Meniu</a>
            <a id="button" class="btn btn-primary" href="despre_noi.php" role="button">Despre noi</a>
            <a id="button" class="btn btn-primary" href="contact.php" role="button">Contact</a>
            <a id="button" class="btn btn-primary" href="index.php" role="button">Acasa</a>
        </div>

    </div>
</footer>